.stats
  min-height: 60vh
  width: 100%
  background-image: url('./backgrounds/back.png')
  background-size: cover
  background-position: center

  &__text
    padding: 20px 15px
    display: flex
    justify-content: space-between
    height: 25px
    border-radius: 10px

  &__text-points
    color: #FFD700

  &__add-button
    margin-left: 10px
    background-color: unset
    border-color: #FFD700
    color: #FFD700
