.battle

  &__title
    color: #e03131
    font-size: 50px
    margin-top: 0
    text-align: center 

  &__item-list
    width: 1000px
    text-align: center
    margin-top: 100px
    
    
    tr
        height: 50px
        
        
    th
        background: #1971c2
        font-size: 20px
        
          
    
    