.profile
  background: #252525
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 50px
  height: 300px
  border-radius: 5px
  padding: 10px
  margin-top: 5px
  margin-bottom: 5px
  box-shadow: 0px 0px 10px 1px #880808
  border-radius: 10px

  &__header
    display: flex
    gap: 10px

  &__header-info
    display: flex
    flex-direction: column
    gap: 10px

  &__header-info-level
    font-size: 12px

  &__avatar-img
    margin-top: 5px
    width: 100px
