body
  background-color: #171717
  color: #c2c2c2

.main
  width: 1000px
  margin: 100px auto

  &__login
    margin-top: 50px

  &__register
    margin-top: 50px

  &__input
    margin: 0 10px

  &__label
    display: block
