.fight
  max-width: 700px
  background: #252525
  box-shadow: 0px 0px 10px 4px #880808
  border-radius: 10px
  margin: 10px auto

  &__menu-1
    width: 900px
    height: 120px
    background: #171717
    box-shadow: 0px 0px 10px 4px #880808
    border-radius: 10px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

  &__menu-2
    width: 900px
    height: 120px
    background: #171717
    box-shadow: 0px 0px 10px 4px #880808
    border-radius: 10px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

  &__menu-text
    margin-left: 50px
    font-size: 25px

  &__menu-display
    display: flex
    justify-content: center
    align-items: center

  &__button-chose
    display: flex
    width: 280px
    height: 75px
    background: #252525
    border: 1px solid #252525
    box-shadow: 0px 0px 15px 6px #880808
    border-radius: 10px
    flex-direction: row
    align-items: center
    justify-content: space-around
    margin-right: 50px

  &__button-fight__fight
    color: #fff
    border: none
    font-size: 30px
    background: #252525
    cursor: pointer

  &__button-fight__run
    color: #00FA9A
    border: none
    font-size: 30px
    background: #252525
    cursor: pointer

  &__player
    display: flex
    margin-top: 120px
    align-items: center
    flex-direction: row-reverse
    justify-content: center

  &__player-info
    width: 150px
    height: 160px
    border-radius: 10px
    margin-left: 20px
    margin-right: 20px

  &__player-info-display
    display: flex
    flex-direction: column
    align-items: center

  &__player-info-text
    margin: 0px
    padding: 1px
    font-size: 20px

  &__player-bars
    width: 150px
    padding: 1px
    margin-top: 10px

  &__player-exp
    margin: 5px
    padding: 1px

  &__player-img
    height: 150px

  &__players-img
    width: 110px
    height: 100px
    border: 2px solid #880808
    box-shadow: inset 0px 1px 20px -3px rgb(217 217 217 / 40%)
    border-radius: 5px

  &__player-name-lvl
    display: flex
    align-items: center
    justify-content: space-between
    width: 250px

  &__mob
    display: flex
    flex-direction: row-reverse
    justify-content: center

  &__mob-info
    margin-right: 10px
    margin-top: 29px
    width: 140px
    height: 120px
    border-radius: 10px
    position: relative

  &__mob-info-text-display
    display: flex
    flex-direction: column
    align-items: center

  &__mob-info-text
    margin: 0px
    padding: 1px
    font-size: 20px

  &__mob-attack
    z-index: 10
    position: absolute
    top: 35px
    left: 10px

  &__mob-info-text-hp
    margin: 0px
    padding: 0
    font-size: 20px

  h3
   color: #FFD700

  &__mob-hp
    width: 140px
    padding: 1px
    margin-top: 10px

  &__mob-sprite
    width: 150px
    display: flex
    gap: 30px
    margin-right: 30px
    margin-top: 30px
    align-items: flex-start
    justify-content: flex-start
    flex-direction: row-reverse
    position: relative

  &__mob-img
    height: 150px

  &__mobs-img
    height: 100px
    width: 100px

  &__mobs-second-hp-display
    position: relative
    left: 114px
    margin-top: 5px
    top: 100px

  &__mob-second-hp
    width: 80px

  &__players-avatars
    position: relative
    display: flex
    gap: 30px
    margin-right: 20px
    margin-bottom: 30px
    align-items: flex-end
    justify-content: flex-end

  &__button
    color: #fff
    padding: 20px
    width: 150px
    cursor: pointer
    margin-right: 20px
    height: 100px
    width: 100px
    background: #171717
    border: 2px solid #880808
    box-shadow: inset 0px 1px 20px -3px rgba(217, 217, 217, 0.4)
    border-radius: 5px

    &:hover
      background-color: #fd1e1e80


  &__modal
    text-align: center

  &__modal-title
    margin: 0
    padding: 0
