@import 'styles/base'

.mobile-menu
  position: fixed
  bottom: 0
  height: 85px
  width: 100%
  z-index: 9
  background-image: url('./backgrounds/back.png')
  background-position: center
  background-size: cover
  background-color: #171717

  &__wrapper
    display: flex
    justify-content: space-around
    align-items: center

  &__home
    height: 80px
    width: 80px
    margin-bottom: 20px


@include media-breakpoint-up(md)

  .mobile-menu
    display: none
