.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  border-bottom: 1px solid
  z-index: 9

  &__info
    background-color: #252525
    height: 60px
    display: flex
    align-items: center
    padding: 0 30px
    justify-content: center

  &__username
    color: mediumspringgreen

  &__user
    display: flex
    justify-content: space-between
    align-items: center
    width: 100px

  &__logout
    margin-left: 10px
