.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  border-bottom: 1px solid

  &__info
    background-color:#252525
    height: 50px
    display: flex
    align-items: center
    padding: 0 30px
    justify-content: center

  &__username
    color: mediumspringgreen

  &__logout
    margin-left: 10px
