@import 'styles/base/base'

.players
  display: flex
  justify-content: center

  &__info
    border: 1px solid
    padding: 15px

    th
      width: 200px
      border: 2px solid #171717
      padding: 5px

    td
      border-bottom: 1px solid
      text-align: center
      font-size: 15px
      height: 50px

  &__info-tr
    font-size: 15px
    background: $s-color

  &__action-button
    margin: 0 5px
