.explore

  &__map-list
    list-style-type: none
    display: flex
    gap: 20px

  &__map-element
    border: 1px solid #fff
    border-radius: 5px

  &__map-item
    padding: 5px
    text-align: center
    font-size: 24px
    background-color: #252525
    border-radius: 5px

  .disabled
    opacity: 0.5

  &__map-level
    font-size: 16px

  &__map-level-lvl
    font-size: 12px

  &__map-img
    height: 200px
    border-radius: 5px 5px 0px 0px
