.explore
  margin: 0 auto
  max-width: 600px

  &__screen
    background-image: url('./backgrounds/back.png')
    background-position: center
    background-size: cover
    display: flex
    justify-content: center

  &__protection
    position: absolute
    width: 100%
    height: 100%
    z-index: 999

  &__tiles
    list-style-type: none
    display: grid
    grid-template-columns: auto auto auto auto auto auto auto
    grid-row-gap: 0px
    grid-column-gap: 0px
    position: relative
    justify-content: center
    width: 100%
    align-content: center
    height: 60vh
    overflow: hidden

  &__icon
    position: absolute

  &__object
    position: absolute

  &__tile
    width: 80px
    height: 80px
    background: rgba(0, 0, 0, 0.3)
    display: flex
    justify-content: center
    align-items: center
    position: relative

  &__username
    color: #fff
    background-color: #000
    text-align: center
    font-size: 12px
    font-weight: bold
    z-index: 10

  &__avatar
    width: 50px
    height: 50px
    border-radius: 100%
    border: 2px solid #000
    box-shadow: 0px 5px 5px #100f0f

  &__text
    position: absolute
    padding: 20px
    left: 0
    bottom: 0px
    background-color: #000
    width: 100%
    text-align: center
    margin-left: 10px

  &__shadow
    position: absolute
    z-index: 10
    height: 300px
    top: 3px
    left: 588px
    opacity: 0.7

  &__body
    height: 30vh
    position: relative
    background-image: url('./backgrounds/back.png')
    background-position: center
    background-size: cover
