.explore-dpad
  top: 220px
  left: 30px
  position: relative

  &__wrapper
    position: relative

  button
    position: absolute
    padding: 0
    height: 55px
    width: 55px

  &__up
    bottom: 135px
    left: 65px

  &__down
    left: 65px
    bottom: 5px

  &__left
    left: 0px
    bottom: 70px

  &__right
    left: 132px
    bottom: 70px
