@import 'styles/base'

.common
  border-color: #ffffff
  color: #ffffff

.uncommon
  border-color: #1EFF00
  color: #1EFF00

.rare
  border-color: #0070FF
  color: #0070FF

.epic
  border-color: #a335ee
  color: #a335ee

.legendary
  border-color: #ff8000
  color: #ff8000
