@import 'styles/base'

.character
  background-size: cover

  &__menu
    position: sticky
    top: 38vh
    background-image: url('./backgrounds/back.png')
    background-position: center
    background-size: cover
    display: flex
    justify-content: space-around
    gap: 10px
    padding: 10px

  &__button
    width: 50%

  .active
    background: rgba(0, 0, 0, 0.4)

.common
  border-color: #ffffff
  color: #ffffff

.uncommon
  border-color: #1EFF00
  color: #1EFF00

.rare
  border-color: #0070FF
  color: #0070FF

.epic
  border-color: #a335ee
  color: #a335ee

.legendary
  border-color: #ff8000
  color: #ff8000


@include media-breakpoint-up(md)

  .character
    display: grid

    &__desktop-side-by-side
      display: flex

    &__desktop-character-wrapper
      width: 50%
